

.About { grid-area: topPage; }
.Skills { grid-area: downRight; }
.Experience { grid-area: downLeft; }

.grid{
    display : grid;
  grid-template-areas:
    ' topPage topPage topPage topPage'
    ' topPage topPage topPage topPage'
    ' topPage topPage topPage topPage'
    ' topPage topPage topPage topPage'
    ' topPage topPage topPage topPage'
    ' topPage topPage topPage topPage'
    ' topPage topPage topPage topPage'
    ' topPage topPage topPage topPage'

    ' downLeft downLeft downRight downRight'
    ' downLeft downLeft downRight downRight'
    ' downLeft downLeft downRight downRight';
  grid-gap: 3px;
  background-color: lightblue;
  padding: 3px;
  text-align: center;
    font-size: 50px;


}

.About{
  background-color: lightcyan;
      padding: 5px;

}
.Skills{
    background-color: lightcyan;
      padding-top: 500px;
        padding-bottom: 500px;




}
.Experience{
    background-color: lightcyan;
      padding-top: 500px;
    padding-bottom: 500px;


}


@media not screen and (max-width: 1024px){
    body {
        background-color: lightcyan;
    }
}